<%= form_for @changeset, Routes.invite_path(@conn, :create, @hash_id), fn f -> %>
<div style="color:#606c76;">
  <label>
    Your colleague email: <%= text_input f, :email, placeholder: "colleague@email.com" %>
    <%= error_tag f, :email %>
  </label>
  
</div>

  <%= submit "Invite" %>
<% end %>
