<%= form_for @changeset, Routes.invite_path(@conn, :create, @hash_id), fn f -> %>
<div style="color:#606c76;">
  <label>
    User email <%= text_input f, :email, placeholder: "email" %>
    <%= error_tag f, :email %>
  </label>
</div>

  <%= submit "Submit" %>
<% end %>
