<div class="center-width">
<div style="color:#606c76;">
    <h2>Get in touch</h2>
    <h5>If you have any question, found a bug or have a suggestion, please feel free to contact me at <a href = "mailto: hazmi@inoffice.chat">hazmi@inoffice.chat</a>.</h5>
</div>
</div>