
<%= form_for @changeset, Routes.office_path(@conn, :create), fn f -> %>
<div style="color:#606c76;">
  <label>
    Office Name 
  </label>
  <div style="margin-top: 10px;">
    <%= text_input f, :name, placeholder: "office" %>
    <%= error_tag f, :email %>
  </div>
</div>

  <%= submit "Submit" %>
<% end %>
