<div class="center-width">
<%= form_for @changeset, Routes.office_path(@conn, :create), fn f -> %>
<div style="color:#606c76;">
    <label>
    Your office name : <%= text_input f, :name, placeholder: "Google" %>
    <%= error_tag f, :name %>
  </label>
</div>

  <%= submit "Create" %>
<% end %>
</div>
