
<%= form_for @changeset, Routes.office_path(@conn, :create), fn f -> %>
<div style="color:#606c76;">
  <label>
    Office Name <%= text_input f, :name, placeholder: "office" %>
    <%= error_tag f, :email %>
  </label>
</div>

  <%= submit "Submit" %>
<% end %>
