<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Inoffice", suffix: " · Your Virtual Office" %>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115169227-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115169227-8');
    </script>


  </head>
  <body>
    <header  style="padding: 1rem">
      <section class="container">
        <nav role="navigation">
        <style>
          #header-list > li {
            float: left;
          }
          #logo{
            color: #606c76;
            font-weight: bold;
            font-size: 3rem;
          }
          #logo:hover{
            color: #cdd1d4;
          }
        </style>
        <script>
          function loginRedirect() {
            location.href = "/login";
          }
          function contactRedirect() {
            location.href = "/contact";
          }
          function homeClick() {
            location.href = "/office";
          }
        </script>
          <ul id="header-list" >
            
            <%= if Guardian.Plug.current_resource(@conn) do %>
              <li>
              <button type="button" class= "button button-clear" onclick= "homeClick()" >Home</button> 
              </li>
            <% end %>
             <li>
            <%= if Guardian.Plug.current_resource(@conn) do %>
              <%= form_for @conn, Routes.user_path(@conn, :logout), fn f -> %>
                <%= button("Logout", to: Routes.user_path(@conn, :logout), class: "button button-clear", type: "submit")%> 
              <%= end %>
            <% else %>
              <button type="button" class= "button button-clear" onclick= "loginRedirect()" >Login</button> 
            <% end %>
            </li>
          </ul>
        </nav>
        <a href="/" id="logo">
          Inoffice
        </a>
      </section>
    </header>
    <div style="padding-top: 5rem;">
    <%= @inner_content %>
    </div>

  </body>
</html>
